// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.h-screen {
    height: 100vh;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-rojo {
    background-color: #c00000;
}

.nav-gris {
    background-color: #a6a6a6;
}

.div-gris-claro {
    background-color: #f2f2f2;
}

.txt-red {
    color: #bd0909;
}

// sas 
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:100px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
  
  .flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 500px;
  }
  
  .input-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 1000px;
    position: relative;
    z-index: 0;
    margin-left: calc((80vw - 25px) / 20);
  }
  
  .radio-line {
    width: 25px;
    height: 25px;
    background-color: #2C3E50;
    position: relative;
    border-radius: 50%;
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  }

  
  input[class*="radio-line"]:focus {
    outline: none;
  }
  input[class*="radio-line"]::before, input[class*="radio-line"]::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2C3E50;
    width: 4vw;
    height: 5px;
    max-width: 50px;
  }
  input[class*="radio-line"]::before {
    left: calc(-4vw + 12.5px);
  }
  input[class*="radio-line"]::after {
    right: calc(-4vw + 12.5px);
  }
  input[class*="radio-line"]:checked {
    background-color: #2C3E50;
  }
  input[class*="radio-line"]:checked::before {
    background-color: #2C3E50;
  }
  input[class*="radio-line"]:checked::after {
    background-color: #AEB6BF;
  }
  input[class*="radio-line"]:checked ~ input, input:checked ~ input::before, input:checked ~ input::after {
    background-color: #AEB6BF;
  }
  input:checked + .dot-info span {
    font-size: 13px;
    font-weight: bold;
  }
  
  .dot-info {
    width: 25px;
    height: 25px;
    display: block;
    visibility: hidden;
    position: relative;
    z-index: -1;
    left: calc((((80vw - 25px) / 20) * -1) - 1px);
  }
  .dot-info span {
    visibility: visible;
    position: absolute;
    font-size: 12px;
  }
  .dot-info span.year {
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .dot-info span.label {
    top: -65px;
    left: 0;
    transform: rotateZ(-45deg);
    width: 70px;
    text-indent: -10px;
  }
  
  #timeline-descriptions-wrapper {
    width: 100%;
    margin-top: 140px;
    font-size: 22px;
    font-weight: 400;
    margin-left: calc((-80vw - 25px) / 20);
  }
  #timeline-descriptions-wrapper p {
    margin-top: 0;
    display: none;
  }
  
  input[data-description="1910"]:checked ~ #timeline-descriptions-wrapper p[data-description="1910"] {
    display: block;
  }
  
  input[data-description="1920"]:checked ~ #timeline-descriptions-wrapper p[data-description="1920"] {
    display: block;
  }
  
  input[data-description="1930"]:checked ~ #timeline-descriptions-wrapper p[data-description="1930"] {
    display: block;
  }
  
  input[data-description="1940"]:checked ~ #timeline-descriptions-wrapper p[data-description="1940"] {
    display: block;
  }
  
  input[data-description="1950"]:checked ~ #timeline-descriptions-wrapper p[data-description="1950"] {
    display: block;
  }
  
  input[data-description="1960"]:checked ~ #timeline-descriptions-wrapper p[data-description="1960"] {
    display: block;
  }
  
  input[data-description="1970"]:checked ~ #timeline-descriptions-wrapper p[data-description="1970"] {
    display: block;
  }
  
  input[data-description="1980"]:checked ~ #timeline-descriptions-wrapper p[data-description="1980"] {
    display: block;
  }
  
  input[data-description="1990"]:checked ~ #timeline-descriptions-wrapper p[data-description="1990"] {
    display: block;
  }
  
  input[data-description="2000"]:checked ~ #timeline-descriptions-wrapper p[data-description="2000"] {
    display: block;
  }
  
  @media (min-width: 1250px) {
    .input-flex-container {
      margin-left: 62.5px;
    }
  
    input[class*="radio-line"]::before {
      left: -37.5px;
    }
    input[class*="radio-line"]::after {
      right: -37.5px;
    }
  
    .dot-info {
      left: calc((((1000px - 25px) / 20) * -1) - 1px);
    }
  
    #timeline-descriptions-wrapper {
      margin-left: -37.5px;
    }
  }
  @media (max-width: 630px) {
    .flex-parent {
      justify-content: initial;
    }
  
    .input-flex-container {
      flex-wrap: wrap;
      justify-content: center;
      width: 400px;
      height: auto;
      margin-top: 15vh;
      margin-left: 0;
      padding-bottom: 30px;
    }
  
    input, .dot-info {
      width: 60px;
      height: 60px;
      margin: 0 10px 50px;
    }
  
    input {
      background-color: transparent !important;
      z-index: 1;
    }
    input::before, input::after {
      content: none;
    }
    input:checked + .dot-info {
      background-color: #2C3E50;
    }
    input:checked + .dot-info span.year {
      font-size: 14px;
    }
    input:checked + .dot-info span.label {
      font-size: 12px;
    }
  
    .dot-info {
      visibility: visible;
      border-radius: 50%;
      z-index: 0;
      left: 0;
      margin-left: -70px;
      background-color: #AEB6BF;
    }
    .dot-info span.year {
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ECF0F1;
    }
    .dot-info span.label {
      top: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
      text-indent: 0;
      text-align: center;
    }
  
    #timeline-descriptions-wrapper {
      margin-top: 30px;
      margin-left: 0;
      text-align: center;
    }
  }
  @media (max-width: 480px) {
    .input-flex-container {
      width: 340px;
    }
  }
  @media (max-width: 400px) {
    .input-flex-container {
      width: 300px;
    }
  }